.image-wall
  column-count: 1
  column-gap: $baseline
  left: 50%
  padding: $baseline
  position: relative
  transform: translateX(-50%)
  width: 'calc(100vw - %s)' % $baseline

  @media (min-width: $breakpoints.largeMobile)
    column-count: 2

  @media (min-width: $breakpoints.tablet)
    column-count: 3
    column-gap: ($baseline * 2)
    padding: ($baseline * 2)

  @media (min-width: $breakpoints.desktop)
    column-count: 4
    padding: ($baseline * 3)

  &__image
    margin: 0 0 $baseline

    @media (min-width: $breakpoints.tablet)
      margin: 0 0 ($baseline * 2)

      &:nth-child(3),
      &:nth-child(3) ~ :nth-child(-n+4)
        transform: 'translateY(%s)' % ($baseline * -1)

      &:nth-child(5),
      &:nth-child(5) ~ :nth-child(-n+6)
        transform: 'translateY(%s)' % $baseline