.article--great-minds
  .blog-post
    &__header-image,
    &__title
      noise()

    &__title
      color: $colors.teal
      font-family: $fonts.tertiary
      font-size: 14em
      font-weight: $fontWeights.normal
      letter-spacing: normal
      line-height: .625em
      margin: -10vw -10vw 5vw
      text-align: center