.article--writing
  .blog-post
    &__header-image
      noise()
      position: relative

      &::after
        color: $colors.red
        content: 'Writing'
        font-size: 15vw
        font-weight: $fontWeights.bold
        left: 50%
        line-height: 1em
        position: absolute
        text-transform: uppercase
        top: 90%
        transform: translate(-50%, -50%)
        z-index: -1

    &__title
      opacity: 0
      pointer-events: none