.page--work
  .main
    padding: 0

  .page-header
    &__cta
      flex: 1 1

    &__content
      background: $colors.gray
      color: $colors.black
      display: flex
      flex-direction: column
      font-size: .875em
      justify-content: flex-end

      @media (min-width: $breakpoints.desktop)
        bottom: ($baseline * 3)
        flex: 0 0 auto
        padding: $baseline
        position: absolute
        right: ($baseline * 3)
        width: 24em

  .header-cta
    &__content
      justify-content: flex-end

    &__title
      font-size: 12vw

.case-study
  &__title
    color: $colors.gray2

  &__meta
    align-items: baseline
    display: flex
    flex-wrap: wrap
    margin: 0

    dt
      @extend h5
      color: $colors.red
      flex: 0 0 25%

      &:last-of-type
        margin: 0

    dd
      flex: 0 0 75%
      margin: 0 0 ($baseline / 2)

      &:last-of-type
        margin: 0

  &__section
    padding: $baseline
    position: relative

    @media (min-width: $breakpoints.tablet)
      padding: ($baseline * 2)

    @media (min-width: $breakpoints.desktop)
      padding: ($baseline * 3)

    &-background
      cover()
      z-index: 0

    &-name
      @extend h5
      text-align: center

    &-title
      noise()
      font-family: $fonts.tertiary
      font-size: 18vw
      font-weight $fontWeights.normal
      letter-spacing: normal
      line-height: .75em
      margin: 0 auto .125em
      max-width: 3em
      position: relative
      text-align: center
      transform: rotate(-2deg)
      z-index: 1

      .swash
        &::before
          font-size: 1.5em
          transform: translate(-50%, -110%)

    &-content
      position: relative
      z-index: 1

@keyframes animateNextCaseStudyClient
  0%
    transform: translateX(0)

  100%
    transform: translateX(-100%)

.next-case-study
  background: $colors.red2
  color: $colors.white
  display: block
  overflow: hidden
  padding: $baseline
  position: relative
  text-decoration: none
  transition: background-color .5s ease

  @media (min-width: $breakpoints.tablet)
    padding: ($baseline * 2)

  @media (min-width: $breakpoints.desktop)
    padding: ($baseline * 3)

  &:hover
    background-color: $colors.black

  &__content
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    text-align: center
    z-index: 1

  &__label
    @extend h5
    color: rgba($colors.white, .5)

  &__title
    @extend h1
    font-family: $fonts.tertiary
    font-weight: $fontWeights.normal
    font-size: 4.5em
    letter-spacing: normal
    max-width: 5.5em

  .study-logos
    color: inherit
    font-size: 1.25em
    margin: 0 0 $baseline

  &__client
    @extend h1
    color: $colors.red2
    display: flex
    flex-wrap: nowrap
    font-family: $fonts.primary
    font-size: 50vw
    font-weight: $fontWeights.bold
    left: 50%
    margin: 0
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 0

    &-name
      animation: animateNextCaseStudyClient 30s linear infinite
      flex: 0 0 auto
      padding: 0 7.5vw

.case-study__out-link
  align-items: center
  background: $colors.red2
  border-radius: ($baseline * 1.25)
  color: $colors.white
  display: inline-flex
  font-size: .75em
  font-weight: $fontWeights.medium
  justify-content: center
  letter-spacing: .05em
  overflow: hidden
  padding: ($baseline / 2) ($baseline / 1.5) ($baseline / 2) ($baseline / 1.75)
  text-decoration: none
  text-transform uppercase
  transform: translateY(($baseline * -2.25))
  transition: background-color .5s ease
  white-space: nowrap
  width: auto

  &-wrapper
    align-items: center
    bottom: 0
    display: flex
    height: 0
    justify-content: flex-end
    padding: 0 $baseline
    position: sticky
    width: 100%
    z-index: 9

  &-label
    display: block
    max-width: 0
    overflow: hidden
    transition: max-width .75s ease, padding .5s ease
    width: auto

  &:hover
    background: $colors.red

    .case-study__out-link-label
      padding-right: ($baseline / 2)
      max-width: 100vw

    svg
      transform: rotate(45deg)

  svg
    display: block
    height: ($baseline * 1.125)
    transition: transform .25s ease
    width: ($baseline * 1.125)

    path
      stroke: currentColor

.case-study-nav
  align-items: center
  color: $colors.white
  display: none
  position: sticky
  top: 0
  transition: color .5s ease
  z-index: 7

  @media (min-width: $breakpoints.desktop)
    display: flex
    margin-bottom: 100vh

    & + .case-study__section
      margin-top: -100vh

  &__list
    border-radius: 100vh
    counter-reset: case-study-nav-counter
    display: flex
    margin: 0
    overflow: hidden
    padding: $baseline ($baseline / 4)
    position: absolute
    right: ($baseline * 2.8)
    text-orientation: mixed
    top: ($baseline * 4)
    transition: background .5s ease, box-shadow .5s ease, color .5s ease
    white-space: nowrap
    writing-mode: vertical-rl

    &:hover
      background: $colors.red2
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
      color: $colors.white

  &__item
    list-style: none
    margin: 0 0 $baseline

    &:last-child
      margin: 0

  &__link
    @extend h5
    color: inherit
    counter-increment: case-study-nav-counter
    display: block
    margin: 0
    opacity: .5
    text-decoration: none
    transition: opacity .5s ease

    &--active
      opacity: 1

    &::before
      content: counter(case-study-nav-counter) ". "


  &__out-link
    @extend .text-link
    margin-left: auto

for $theme, $themeColours in $themes
  .header--{$theme}
    ~ main
      .case-study-nav
        color: $themeColours.right