body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smooth: always
  border-left: $baseline solid $colors.red
  min-height: 100vh
  transition: background-color .5s ease

.main
  background: $colors.white
  padding: ($baseline * 6) $baseline $baseline
  transition: opacity .5s .5s ease-in-out, padding 0s .5s ease

  @media (min-width: $breakpoints.tablet)
    padding: ($baseline * 6) ($baseline * 2) ($baseline * 2)

  @media (min-width: $breakpoints.desktop)
    padding: ($baseline * 6) ($baseline * 3) ($baseline * 3)

  &[aria-hidden="true"]
    opacity: 0
    transition: opacity .5s ease-in-out