cover($offset = 0)
  bottom: $offset
  left: $offset
  position: absolute
  right: $offset
  top: $offset

hideScrollbars()
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  ::-webkit-scrollbar
    display: none