html
  font: 300 100% / $baseline $fonts.primary

body
  font-feature-settings: "kern", "liga", "dlig"
  font-size: clamp(1em, 2.5vw, 1.3125em)
  line-height $baseline

h1, h2, h3, h4, h5, h6
  display: block

  // @media (min-width: 24em)
  //   font-size: 4.5em

h2
  font-family: $fonts.secondary
  font-size: 2.25em
  font-weight: $fontWeights.bold
  letter-spacing: -.05em
  line-height: (1.35 / 1.5) * $baseline
  margin-bottom: (.6666666666666667 / 1.5) * $baseline

h1
  @extend h2

  @media (min-width: $breakpoints.tablet)
    font-size: 3em
    line-height: (1 / 1.5) * $baseline
    margin-bottom: (.5 / 1.5) * $baseline

h3
  font-family: $fonts.secondary
  font-size: 1.5em
  font-weight 700
  letter-spacing: -.05em
  line-height: (1 / 1.5) * $baseline
  margin-bottom: (1 / 1.5) * $baseline

h4
  font-size: 1.3125em
  line-height: (1.142857142857143 / 1.5) * $baseline
  margin-bottom: (1.142857142857143 / 1.5) * $baseline

h5
  font-size: .875em
  font-weight 700
  letter-spacing: .025em
  line-height: ($baseline / .875)
  margin-bottom: ($baseline / .875)
  text-transform uppercase

h6
  font-size: 1em
  line-height: $baseline
  margin-bottom: $baseline

p, ul, ol, dl, blockquote
  margin-bottom: $baseline

ul
  list-style: disc inside

ol
  list-style: decimal inside

ul, ol
  ul
    list-style: circle inside
    margin:
      bottom: 0
      left: $baseline

  ol
    list-style: lower-roman inside
    margin:
      bottom: 0
      left: $baseline

em
  font-style: italic

strong
  font-weight: $fontWeightBold

small
  font-size: .75em
  line-height: .5em

.screenreader-text
  position: absolute
  top: -9999vh
  left: 0

.swash
  display: inline-block
  position: relative
  z-index: 0

  &::before
    color: $colors.gray
    content: "B"
    font-family: $fonts.swash
    font-size: 2.25em
    font-weight: $fontWeights.normal
    left: 50%
    position: absolute
    top: 100%
    transform: translate(-45%, -95%)
    z-index: -1