$colors = {
  black: #1c1e21
  white: #fff
  red: #ef233c
  red2: #d90429
  gray: #edf2f4
  gray2: #999
}
$colors[red3] = darken($colors.red2, 25%)

$fonts = {}
$fonts[primary] = 'GT America', Graphik, Arial, sans-serif
$fonts[secondary] = GauthierFY, Georgia, serif
$fonts[tertiary] = 'Have Heart One'
$fonts[swash] = 'Have Heart Swash'

$fontWeights = {
  normal: 400
  bold: 700
}

$baseline = 1.5em

$breakpoints = {
  largeMobile: 30em
  tablet: 45em
  desktop: 63.75em
}