.page--matte
  .album-artwork
    &.image-wall
      @media (min-width: $breakpoints.desktop)
        column-count: 3

    .image-wall__image
      @media (min-width: $breakpoints.desktop)
        &:nth-child(1),
        &:nth-child(1) ~ :nth-child(-n+3)
          transform: translateY(0)

        &:nth-child(4),
        &:nth-child(4) ~ :nth-child(-n+6)
          transform: 'translateY(%s)' % ($baseline * -1)

        &:nth-child(7),
        &:nth-child(7) ~ :nth-child(-n+9)
          transform: 'translateY(%s)' % $baseline